{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <main>

        <header class="home-header">
            <div class="container home-header__container">
                <h1>Bienvenue sur Corona Musical !</h1>
                <button class="btn">Découvrir</button>
            </div>
        </header>

    </main>

{% endblock %}