@font-face {
    font-family: "postgrotesk-light";
    src: url("../../fonts/PostGrotesk-Light.eot"), url("../../fonts/PostGrotesk-Light.woff") format("woff"), url("../../fonts/PostGrotesk-Light.otf") format("opentype"), url("../../fonts/PostGrotesk-Light.ttf") format("truetype"), url("../../fonts/PostGrotesk-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "postgrotesk-regular";
    src: url("../../fonts/PostGrotesk-Regular.eot"), url("../../fonts/PostGrotesk-Regular.woff") format("woff"), url("../../fonts/PostGrotesk-Regular.otf") format("opentype"), url("../../fonts/PostGrotesk-Regular.ttf") format("truetype"), url("../../fonts/PostGrotesk-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "postgrotesk-medium";
    src: url("../../fonts/PostGrotesk-Medium.eot"), url("../../fonts/PostGrotesk-Medium.woff") format("woff"), url("../../fonts/PostGrotesk-Medium.otf") format("opentype"), url("../../fonts/PostGrotesk-Medium.ttf") format("truetype"), url("../../fonts/PostGrotesk-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}