.genres-header {
    &__container {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: space(1);
            @media all and (min-width: $from-medium) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media all and (min-width: $from-large) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media all and (min-width: $from-big) {
                grid-template-columns: repeat(5, 1fr);
            }
            @media all and (min-width: $from-huge) {
                grid-template-columns: repeat(6, 1fr);
            }

            li {
                background: $color-white;
                padding: space(2);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
            }
        }
    }
}