{% extends 'base.html.twig' %}

{% block title %}Deezer{% endblock %}

{% block body %}

    <ul>
        {% for album in albums %}
            <li>
                <img src="{{ album.cover_medium }}" alt="">
                <h2>{{ album.title }}</h2>
            </li>
        {% endfor %}
    </ul>

{% endblock %}