{% extends 'base.html.twig' %}

{% block title %}Playlists{% endblock %}

{% block body %}

    <main>

        <header class="section--default">
            <div class="container">
                <h1>Playlists</h1>
                <ul>
                    {% for playlist in playlists %}
                        <li>
                            <a href="">
                                <div style="background-image: url( {{ playlist.picture_medium ? playlist.picture_medium : asset('build/images/default.jpg') }} )"></div>
                                <h2>{{ playlist.title }}</h2>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </header>

    </main>

{% endblock %}