{% extends 'base.html.twig' %}

{% block title %}Podcasts{% endblock %}

{% block body %}

    <main>

        <header class="podcasts-header section--default">
            <div class="container podcasts-header__container">
                <h1>Podcasts</h1>
                <ul>
                    {% for podcasts in podcasts %}
                        <li>
                            <div style="background-image: url({{ podcasts.picture_medium }})"></div>
                            <h2><a href="">{{ podcasts.title }}</a></h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </header>

    </main>

{% endblock %}