{% extends 'base.html.twig' %}

{% block title %}Radio{% endblock %}

{% block body %}

    <main>

        <header class="radio-header section--default">
            <div class="container radio-header__container">
                <h1>Radio</h1>
                <ul>
                    {% for radio in radio %}
                        <li>
                            <div style="background-image: url({{ radio.picture_medium }})"></div>
                            <h2><a href="">{{ radio.title }}</a></h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </header>

    </main>

{% endblock %}